/ble_app_hids_keyboard.eww
/hex
_build
/release
JLinkLog.txt
JLinkSettings.ini
EventRecorderStub.scvd

# ignore sdk
/SDK

# ignore virtualenv
/venv

# Created by https://www.gitignore.io/api/code
# Edit at https://www.gitignore.io/?templates=code

### Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# End of https://www.gitignore.io/api/code

# Created by https://www.gitignore.io/api/keil
# Edit at https://www.gitignore.io/?templates=keil

### Keil ###
# something maybe need to add
# *.bat  # generate batch file
# output/project_name # uv project generate without file ext
# *.SRC # generate source file
# *.src

# Prerequisites
*.d
*.dep
# Object files
*.o
*.obj
*.OBJ

# Listing Files
*.COD
*.cod
*.[Ii]
*.LST
*.lst
*.MAP
*.map
*.[Mm]51
*.[Mm]66
*.SCR
*.scr

# LINK output
*.ABS

# Libraries
*.lib
*.LIB


# uv output
*.lnp
*.build_log.htm
*.HEX
*.hex


# Build Files
*._IA
*.__[Ii]
*._[Ii][Ii]

# project
*.uvgui.*
*.uvguix.*


# End of https://www.gitignore.io/api/keil
/template/Makefile.windows
/template/Makefile.posix

.DS_Store
Thumbs.db
